.main_div{ 
    width: 14.2%; 
    height: 80px; 
    display: inline-block; 
    margin-right: -4px; 
    border-right: 2px solid; 
    background: #fff; 
    text-align: center;      
} 
.main_div7 {
    width: 14.5%;
    height: 80px;
    display: inline-block;
    background: #fff;
    text-align: center;
}
.padding_0{ 
    padding:0px 0px; 
    background: white; 
}