body{
    background: url(../img/background_new.png);
    background-repeat: no-repeat; 
    background-size: 100% 100%; 
    background-position:center;
    }
    /* .white{
        color:white;
    } */
.reg_head{
    color: rgb(172,140,31) !important;
    font-size: 20px;
    margin-bottom: 10px;
}
.white{
    color:white;
}
.dmy-cal-months, .width_all{
    width:37% !important;
}
.col_phone{
    padding-left: 0px;
}
/* #confirm_password{
    width: 119%;
} */
#countryCode {
    height: 38px;
    margin-left: 1px;
    /* width: 94px; */
}
.res_policy{
  color:red;
  font-size: 16px;
}
.regi_text{
    margin-left: -12px;
    margin-top: 8px;
}
.bank_head{
    margin-top: 12px;
}
#bank_account_number{
    margin-top: 15px;
}
.captchaDiv{
    margin-left: 143px;
}

.agree_contain{
    color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}
.btn_bank_listnew{
    background: #fff;
    width: 100%;
    text-align: left;
}
.term{
    color: white;
    text-align: center;
}
.user_icon{
    color: rgb(172,140,31) !important;
    font-size: 25px;
    /* margin-top: 6px */
}
    #navbardrop{
        border: 1px #f5bd70 solid;
        border-radius: 10px;
    }
    input[type=text], input[type=password] {
         padding: 10px;
         display: inline-block;
         border: none;
         /* margin-top: 15px; */
     }
      input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
      }

    .register_form{
        border: 2px #f5bd70 solid;
        border-radius: 10px;
        padding:5%;
        /* background-color:gray; */

    }
    .forgot_pass_color{
        color: #a54e07;
    }
    .forgot_pass_color:hover{
        color: #a54e07;
        text-decoration:none;
    }
    .burlywood_btn {
        display: inline-block;
        outline: none;
        /* font-family: inherit; */
        font-family: SukhumvitBold;
        font-size: 1em;
        box-sizing: border-box;
        border: none;
        border-radius: 0px !important;
        height: auto;
        line-height: 1.9em;
        text-transform: uppercase;
        padding: 3px 0;
        /* box-shadow: 0 3px 6px rgba(0,0,0,.16), 0 3px 6px rgba(110,80,20,.4), inset 0 -1px 2px 1px rgba(139,66,8,1), inset 0 -1px 1px 2px rgba(250,227,133,1); */
        background-image: linear-gradient(90deg, #a54e07, #fef1a2, #ffd680, #b47e11, #a54e07);
        border: 1px solid #a55d07;
        color: rgb(120,50,5);
        /* text-shadow: 0 2px 2px rgba(250, 227, 133, 1); */
        cursor: pointer;
        transition: all .2s ease-in-out;
        background-size: 100% 100%;
        background-position: center;

    }
    .burlywood_btn:focus, .burlywood_btn:hover {
        background-size: 150% 150%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23), inset 0 -2px 5px 1px #b17d10, inset 0 -1px 1px 3px rgba(250,227,133,1);
        border: 1px solid rgba(165,93,7,.6);
        color: rgba(120,50,5,.8);
    }
    .btn_register{
        width:100% !important;
    }
    .btn_contactus{
        /* width: 100% !important; */
        background: whitesmoke;
        border-color: whitesmoke;
        color: gray;
    }
    .btn {
    border-radius: 5px !important;
   }
   .margin_top_3{
       margin-top: 3%;
   }
   .logo_width {
    width: 50%;
    /* margin-left: 26%; */
}
.logo_img {
    height: 60px;
    width: 167px;
    margin-top: 27px;
}

@media screen and (min-width:320px) and (max-width:375px) {
    #formContent {
        width: 100% !important;
    }
    .captchaDiv{
        margin-left:-5px;
    }
    .loader_div {
        left: 16%;
    }
    .max_width{
        max-width: 44%;
    }
    .col_phone{
        padding-left: 15px;
        max-width: 54%;
        margin-left: -8%;
    }
    .user_icon {
        color: rgb(172,140,31) !important;
        font-size: 25px;
        /* margin-top: 6px; */
        max-width: 10%;
    }
    .regi_text {
        margin-left: -12px;
        margin-top: 8px;
        max-width: 50%;
    }
    .width_124{
        width: 124%;
    
    }
}
@media screen and (max-width:414px) and (min-width:411px) {
  .captchaDiv {
    margin-left: 4%!important;
    margin-top: 18px;
}
.width_124{
    width: 124%;

}
.col_phone{
    padding-left: 15px;
    max-width: 54%;
    margin-left: -8%;
}
.max_width{
    max-width: 44%;
}
.user_icon {
    color: rgb(172,140,31) !important;
    font-size: 25px;
    /* margin-top: 6px; */
    max-width: 10%;
}
.regi_text {
    margin-left: -12px;
    margin-top: 8px;
    max-width: 50%;
}

}
@media screen and (max-width:1023px) and (min-width:767px) {
    .captchaDiv {
      margin-left: 19%!important;
      margin-top: 18px;
  }
  .t_view{
    max-width: 75%;
    margin-left: -13%;
    flex: 0 0 75%;
      
  }
  
  }
  @media screen and (max-width:1360px) and (min-width:1024px) {
    .captchaDiv {
      margin-left: 19%!important;
      margin-top: 18px;
  }
  .t_view{
    max-width: 75%;
    margin-left: -13%;
    flex: 0 0 75%;
      
  }
  
}